@charset "UTF-8";
@keyframes img01 {
  from {
    object-position: -112vmin 60vmin;
    opacity: 0;
  }
  to {
    object-position: 0 0;
    opacity: 1;
  }
}
.text-t01 {
  font-size: 10vmin;
}

.text01 {
  font-size: 4.8vmin;
}

.text02 {
  font-size: 4vmin;
}

.text-cr {
  color: #c55225;
}

a {
  color: #e6cf00;
}
a:hover, a:active {
  color: #FFF59D;
  text-decoration: none;
}

body {
  background: #10000d;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  color: #fff;
  position: relative;
}

.navbar {
  display: flex;
  background: #040003;
  position: fixed;
}

.navbar-brand {
  background: url(../images/logo.png) center no-repeat;
  color: #c55225;
  min-width: 5rem;
  min-height: 5rem;
  background-size: contain;
  margin: 0;
}

.navbar-toggler {
  background: #c55225;
  position: absolute;
  right: 9px;
  top: 27px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #fff;
  height: 0.1em;
  display: block;
  margin: 0.3em 0;
}

.navbar-nav li a {
  color: #fff;
}
.navbar-nav li:hover a, .navbar-nav li.active a {
  color: #ff9c21;
}

.contact-box div {
  width: 3vmin;
  height: 3vmin;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-box .ig {
  background-image: url(../images/ig.png);
}
.contact-box .fb {
  background-image: url(../images/fb.png);
}
.contact-box .line {
  background-image: url(../images/line.png);
}

.copyright {
  background: #080006;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.index .area01 {
  background: url(../images/area01-bg.jpg) center no-repeat;
  background-size: cover;
  height: calc( 100vw / 12 * 8 * 0.66 );
  position: relative;
}
.index .area01:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000080;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.index .area01 div {
  position: relative;
  z-index: 2;
}
.index .area03 {
  background: url(../images/area02-bg.jpg) center no-repeat;
}
.index .area07 {
  background: url(../images/area07-bg.jpg) center no-repeat;
  margin-top: 5rem;
}
.index .area03, .index .area07 {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.index .area03:before, .index .area07:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000080;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.index .area03 *, .index .area07 * {
  position: relative;
  z-index: 2;
}
.index .area06 .img {
  object-fit: contain;
}

.card {
  background-color: transparent;
  transition: all 0.5s;
  -webkit-border-image-source: url(../images/cmd-border.png);
  -webkit-border-image-slice: 9;
  -webkit-border-image-width: 0.3rem;
  -webkit-border-image-repeat: stretch;
  -webkit-border-image-source: url(../images/cmd-border.png);
  -webkit-border-image-slice: 9;
  -webkit-border-image-width: 0.3rem;
  -webkit-border-image-repeat: stretch;
  border-image-source: url(../images/cmd-border.png);
  border-image-slice: 9;
  border-image-width: 0rem;
  border-image-repeat: stretch;
}
.card:hover, .card:focus {
  -webkit-border-image-width: 0.3rem;
  -webkit-border-image-width: 0.3rem;
  border-image-width: 0.3rem;
  transform: scale(1.02, 1.02);
  background: #13000f;
}
.card:hover .card-body *, .card:focus .card-body * {
  width: 100%;
}
.card:hover .btn-link, .card:focus .btn-link {
  color: #FF9800;
}
.card .card-body {
  text-align: center;
}
.card .card-body * {
  width: 0;
  white-space: nowrap;
  transition: all 0.5s linear;
}

.cmd-img {
  padding: 2rem 0 2rem 0;
}
.cmd-img .card-img-top {
  width: 5rem;
  display: block;
}
.cmd-img:after {
  content: "";
  width: 10rem;
  height: 5px;
  box-shadow: 0 0 9px 8px #000000;
  display: flex;
  border-radius: 51%;
  background: #000000;
  margin: -17px auto;
}

.btn-link {
  color: #c55225;
}

.img {
  width: 100%;
  height: calc(100vw/2.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  opacity: 1;
}

.title-big {
  background: url(../images/title-bg.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 8vmin 0;
  position: relative;
}
.title-big:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000080;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.title-big div {
  z-index: 2;
  position: relative;
  text-shadow: 2px 2px 0px #000000;
}

.small-card .card-img-top {
  width: 3rem;
}

.breadcrumb {
  background: transparent;
  color: #ababab;
}

.breadcrumb-item.active {
  color: #fff;
}

@media (min-width: 992px) {
  .img {
    height: calc(100vw/12*8/12*8/1.5);
  }
}
@media (min-width: 768px) {
  .navbar {
    min-height: 100vh;
  }

  .navbar-collapse {
    height: 56vh;
  }
}